.inputFind {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-left: 20px; */
  align-items: center;
  font-weight: 600;
}
.inputFindField {
  width: 100%;
  /* border-color: #3888cf;
  padding: 4px; */
}
