.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.inputName {
  width: 60px;
  font-weight: 600;
}
.inputField {
  padding: 4px;
  width: 100%;
}
.inputBtn {
  max-width: 160px;
}
